.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(211, 211, 211);
  padding: 25px;
  min-height: 100vh;
  min-width: 350px;
}
.user-list-main-container {
  background-color: rgb(245, 245, 245);
  max-width: 900px;
  padding: 25px;
  border: 1px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px -8px;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 850px) {
  .user-list-main-container {
    width: 500px;
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  .user-list-main-container {
    width: 500px;
    display: flex;
    flex-direction: column;
  }
}
.user-list {
  width: 650px;
}
.user-profile {
  width: 200px;
}