.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  padding: 25px;
}
.container {
  background-color: whitesmoke;
  max-width: 1000px;
  padding: 25px;
  border: 1px;
  border-radius: 25px;
  box-shadow: 5px 5px 15px -8px;
  display: flex;
  flex-direction: row;
}
.user-list {
  width: 750px;
}
.user-profile {
  width: 25%;
  left: 100px;
}