.user-profile-container {
  margin-top: 70px;
  margin-left: 10px;
  background: rgb(245, 245, 245);
  padding: 35px;
  border: 1px;
  box-shadow: 5px 5px 10px -7px;
  border-radius: 25px;
  width: 280px;
  font-weight: 500;
}
.user-profile-avatar img {
  border: 1px;
  border-radius: 50%;
  width: 85px;
}
.user-profile-name {
  padding: 5px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.802);
}
.user-profile-email {
  padding: 5px 0;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.419);
}
.user-plan {
  padding: 5px 0;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.802);
}
.user-profile-status {
  font-size: 18px;
  color: white;
  background-color: rgb(255, 165, 0);
  padding: 8px;
  border: 1px;
  border-radius: 5px;
  width: 150px;
  margin-left: 40px;
}
.user-plan-usage {
  text-align: left;
  padding: 20px 0 5px 0;
  color: rgba(0, 0, 0, 0.72);
  font-size: 15px;
}

#progressBar {
  height: 5px;
  width: 100%;
  background-color: rgb(255, 220, 154);
}
#usage {
  height: 5px;
  background-color: rgb(255, 165, 0);
}
/* .progress {
  margin: 0;
}
.usage, .unused {
  height: 5px;
  border: 1px;
  border-radius: 5px;
} */
/* .usage {
  width: 60%;
  background-color: orange;
}
.unused {
  width: 40%;
  background-color: rgb(255, 220, 154);
} */
.clicks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.separator {
  border-left:1px solid rgba(0, 0, 0, 0.179);
}
.click-reviewed-count, .monthly-click-count {
  font-size: 25px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.809);
}
.click-reviewed-text, .monthly-click-text {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.446);
}