.task {
  display: flex;
  justify-content: space-between;
  padding: 15px 0px;
}
.task-checkbox[type='checkbox'] {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 1px solid rgb(211, 211, 211);
  appearance: none;
  cursor: pointer;
}
.task-complete-icon {
  background-color:  rgb(124, 213, 143);
  color: white;
  border: 2px solid  rgb(124, 213, 143);
  border-radius: 100%;
  transform: rotate(250deg);
  height: 18px;
}
.task-complete-icon:hover {
  transform: scale(0.9);
  cursor: pointer;
}
.task-complete {
  color: rgba(0, 0, 0, 0.186);
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
}
.task-incomplete {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 220px;
}