.title {
  display: flex;
  font-size: 15px;
  padding: 5px;
  color: rgba(0, 0, 0, 0.645);
  font-weight: 600;
  justify-content: space-between;
  width: 620px;
}
.icon {
  width: 20px;
}
.name {
  width: 250px;
}
.status {
  width: 75px;
}
.access {
  width: 80px;
}
@media screen and (max-width: 850px) {
  .title {
    display: none;
  }
}
