.add-todo-btn-container {
  display: flex;
  justify-content: center;
  bottom: -25px;
  position: relative;
}
.add-todo-button {
  background-color: rgb(124, 213, 143);
  font-size: 30px;
  color: rgba(0, 0, 0, 0.426);
  text-align: center;
  border: 1px ;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.add-todo-button:hover {
  color: rgba(0, 0, 0, 0.720);
  border: 1px solid rgb(89, 145, 101);
}
.add-todo-button:active {
  transform: scale(0.9);
}
.add-todo-form {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
}
.add-todo-submit {
  color: rgb(0, 128, 0);
  height: 20px;
  cursor: pointer;
}
.add-todo-cancel {
  color: rgb(255, 0, 0);
  height: 20px;
  cursor: pointer;
}
.add-todo-input {
  width: 180px;
  border-radius: 3px;
}