.todo-date-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.604);
}
.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.month-year {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}
.date {
  padding: 0px 4px;
  font-size: 38px;
  font-weight: 500;
}
.weekday {
  font-size: 12px;
  font-weight: bold;
}